.App {
    height: 200vh;
    background-color: #002A32 !important;
}

.navlist {
    background-color: rgba(255, 255, 255, 0.103) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 1.5rem;
}

.notice {
    padding: 2%;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.103) !important;
}

/* .tableList{
     margin-top: 12%;
} */

.filter {
    margin-top: 6%;
}

.listMovies {
    font-weight: 600;
    box-shadow: -3px 5px 25px rgba(255, 253, 187, 0.714);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 10px;
}

.listMovies>thead>tr>th {
    border-top: none;
}

.listMovies>tbody>tr:hover {
    background-color: white;
    color: darkblue;
    font-weight: bold;
}

.likeSymbol {
    color: darkblue;
}

.logo {
    height: 12%;
    width: 12%;
}

.poster{
    height: 200px;
    width: 163px;
}


.notify {
    width: 350px;
    height: 190px;
    margin-left: 4px;
    /* background: rgba(255, 174, 0, 0.4); */
    border-radius: 5px;
}

#img-notice {
    height: 55px;
    width: 230px;
    margin-top: 5px;
}

#notifications{
    margin: 0px;
    height: 90px;
    width: 350px;
}

#notifications a{
    color: gold;
    font-size: 1.2em;
}

#notifications a:hover{
    color: orange;
    font-size: 1.4em;
}