.App {
    height: 100vh;
    background-color: #002A32 !important;
}

.navlist {
    background-color: rgba(255, 255, 255, 0.103) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-size: 1.5rem;
}

/* .tableList{
     margin-top: 12%;
} */

.filter {
    margin-top: 6%;
}

.listMovies {
    font-weight: 600;
    box-shadow: -3px 5px 25px rgba(255, 253, 187, 0.714);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 15px;
}

.listMovies>thead>tr>th {
    border-top: none;
}

.listMovies>tbody>tr:hover {
    background-color: white;
    color: darkblue;
    font-weight: bold;
}

.likeSymbol {
    color: darkblue;
}

.logo {
    height: 12%;
    width: 12%;
}